﻿@model MVC_CRUD.Models.User

@{
    ViewData["Title"] = "Delete";
}
<div id="structure">
    <h3>Eliminar</h3>
    <br />
    <h3>¿Esta seguro que quiere Eliminar el Registro?</h3>
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="82%">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th width="18%" class="tb-title">
                    @Html.DisplayNameFor(model => model.Created)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Created)
                </td>
            </tr>
        </tbody>
        <tr>
    </table>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> 
    </form>
</div>
