﻿@model MVC_CRUD.Models.User

@{
    ViewData["Title"] = "Details";
}


<div id="structure">
    <h3>Detalle</h3>
    <br />
    <div>
        <a asp-action="Index" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg>
        </a>
    </div>
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="82%">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th width="18%" class="tb-title">
                    @Html.DisplayNameFor(model => model.Created)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Created)
                </td>
            </tr>
        </tbody>
        <tr>
    </table>
</div>
