html 
{
    font-size: 14px;
}

@media (min-width: 768px) 
{
    html 
    {
        font-size: 16px;
    }
}

body 
{
    margin-bottom: 60px;
    background-color: #CDCDCD;
}

#structure 
{
    background-color: white;
    margin: 25px;
    padding: 25px;
    height: 80%;
}
.tb-title 
{
    font-weight: bolder;
    text-align: center;
}